{{#partial "content"}}
  <h1>Details</h1>

<table class="table table-striped table-hover">
    <tr>
      <th>Id</th>
      <th>{{event.id}}</th>
    </tr>
    
    <tr>
      <th>Name</th>
      <th>{{event.name}}</th>
    </tr>
    
    <tr>
      <th>Date</th>
      <th>{{event.date}}</th>
    </tr>
    
    <tr>
      <th>Venue</th>
      <th>{{event.venue.name}}</th>
    </tr>
    
    <tr>
      <th>Description</th>
      <th>{{event.description}}</th>
    </tr>

</table>

{{/partial}}

{{> layouts/base title="Detailed Information"}}