	{{#partial "content"}}
<h1><a href="/">Eventlite</a> </h1><h2> All Events</h2>

<form action="/events/search" method="get" >
<div class="input-group">
  <input type="text" class="form-control" name="searchEvent" placeholder="Search for an event ..."/>
  <div class="input-group-btn">
  <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
  </div>
  </div>
</form>
<h2>Future events</h2>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><i class="fa fa-bolt"></i> Event</th>
      <th><i class="fa fa-map-marker"></i> Venue</th>
      <th><i class="fa fa-calendar"></i> Date</th>
      <th><i class="fa fa-clock-o"></i> Time</th>
      <th><i class="fa fa-pencil"></i> Update</th>
    </tr>
  </thead>
  <tbody>
    {{#futureEvents}}
    <tr>
      <td><a href="/events/{{id}}?name={{name}}">{{name}}</a></td>
      <td><a href="/venues/{{venue.id}}">{{venue.name}}</a></td>
      <td>{{date}}</td>
      <td>{{time}}</td>
      <!---<td>{{id}}</td>-->
      <td><a class="btn btn-primary" role="submit" href="/events/{{id}}/update">Update</a></td>
    </tr>
    {{/futureEvents}}
  </tbody>
</table>
<h2>Past events</h2>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><i class="fa fa-bolt"></i> Event</th>
      <th><i class="fa fa-map-marker"></i> Venue</th>
      <th><i class="fa fa-calendar"></i> Date</th>
      <th><i class="fa fa-clock-o"></i> Time</th>
      <th><i class="fa fa-pencil"></i> Update</th>
    </tr>
  </thead>
  <tbody>
    {{#pastEvents}}
    <tr>
      <td><a href="/events/{{id}}?name={{name}}">{{name}}</a></td>
      <td><a href="/venues/{{venue.id}}">{{venue.name}}</a></td>
      <td>{{date}}</td>
      <td>{{time}}</td>
      <!---<td>{{id}}</td>-->
      <td><a class="btn btn-primary" role="submit" href="/events/{{id}}/update">Update</a></td>
    </tr>
    {{/pastEvents}}
  </tbody>
</table>

{{#if AllTweets}}

<h2>Recent Tweets</h2>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><i class="fa fa-bolt"></i> Tweet</th>
      <th><i class="fa fa-calendar"></i> Date</th>
    </tr>
  </thead>
  <tbody>
    {{#AllTweets}}
    <tr>
      <td> {{this.text}}</td>
      <td> {{this.createdAt}}</td>
    </tr>
    {{/AllTweets}}
  </tbody>
</table>

{{/if}}

<p>
  <a class="btn btn-primary" role="button" href="/events/new">Add a new Event</a>
</p>
    <div id="map" style="width: 100%; height: 700px;"></div>
    <script>

      var initMap = function () {

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: {lat: 53.480726, lng: -2.2426739}
        });

        // Create an array of alphabetical characters used to label the markers.
        var labels = '0123456789';

        // Add some markers to the map.
        // Note: The code uses the JavaScript Array.prototype.map() method to
        // create an array of markers based on a given "locations" array.
        // The map() method here has nothing to do with the Google Maps API.
        var markers = locations.map(function(location, i) {
          var marker = new google.maps.Marker({
            position: {lat: location.lat, lng: location.lng},
            label: labels[location.id],
            title: location.name
          });
          marker.addListener('click', function() {window.location.href = "/events/" + location.id;});
          return marker
        });

        // Add a marker clusterer to manage the markers.
        var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
      }
      var locations = [
		    {{#futureEvents}}
		    	{id: {{id}}, name: "{{name}}", lat: {{venue.lat}}, lng: {{venue.lon}} },
		    {{/futureEvents}}
      ]
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeo_GPzufbodkG6TI6Dd77YmbEKzbznoY&callback=initMap">
    </script>

{{/partial}}

{{> layouts/base title="EventLite events"}}