{{#partial "content"}}
<form action="/index" method="get" >

<head>
<style>
body {
    background-image: url("http://wiki.dbpedia.org/sites/default/files/dbpedia_plain.png");
}
</style>
</head>

  <h1><p>Make me simple:</p></h1>
  
        <div id="sidebar">
				
				<div class="info_blocks" id="support_information">
				
					<h3 class="info_block"><a href="#">Plain text</a></h3>
					<div class="info_block" id="phishing_block">
						<ul>
   							 <form action="/" method="get" >
								<div class="input-group">
									 <input type="hidden" class="form-control" name="eventId" placeholder="{{id}}" value="{{id}}"/>
							 		 <input type="text" class="form-control" name="plaintext" placeholder="Input text you want to search..."/>
							 		 <div class="input-group-btn">
									  <button type="submit" class="btn btn-default"><i class="fa fa-file-text-o" aria-hidden="true"></i></button>
									  </div>
							 	 </div>
 							 </form>
						</ul>
					</div> 
   {{#if categories}}
     <table class="table table-striped table-hover">
         <tr>
      <th>Categorise</th>
      <th>{{labels}}</th>
    </tr>
    
    <tr>
      <th>Link</th>
      <th>{{categorise.url}}</th>
    </tr>
    </table>
   {{/if}}
					<h3 class="info_block"><a href="#">URL</a></h3>
					<div class="info_block" id="phishing_block">
						<ul>
   							 <form action="/events/twitter" method="get" >
								<div class="input-group">
									 <input type="hidden" class="form-control" name="eventId" placeholder="{{id}}" value="{{id}}"/>
							 		 <input type="text" class="form-control" name="tweet" placeholder="Input an URL you want to search..."/>
							 		 <div class="input-group-btn">
									  <button type="submit" class="btn btn-default"><i class="fa fa-link" aria-hidden="true"></i></button>
									  </div>
							 	 </div>
 							 </form>
						</ul>
						<p>More question please contact email:wuwenyu86@gmail.com</p>
					</div> 
					
				</div>
		</div>
  


</form>

{{/partial}}
{{> layouts/base title="EventLite events"}}